.section-cta {
  padding: 4.8rem 0 12.8rem;
  .cta {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0 2.4rem 4.8rem rgb(0, 0, 0, 0.15);
    border-radius: 10px;
    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-primary-dark
    );
    overflow: hidden;
    @media screen and(max-width:992px) {
      grid-template-columns: 3fr 2fr;
    }
    @media screen and(max-width:768px) {
      grid-template-columns: 1fr;
    }
    .cta-textbox {
      padding: 4.8rem 6.4rem 6.4rem 6.4rem;
      color: $form-text;
      @media screen and(max-width:768px) {
        padding: 4.8rem 3.2rem;
      }
      h2 {
        color: inherit;
        margin-bottom: 3.2rem;
      }
      .cta-text {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 4.8rem;
      }
      .cta-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3.2rem;
        row-gap: 2.4rem;
        @media screen and(max-width:992px) {
          grid-template-columns: 1fr;
        }
        label {
          display: block;
          font-size: 1.6rem;
          font-weight: 500;
          margin-bottom: 1.2rem;
        }
        input,
        select {
          width: 100%;
          padding: 1.2rem;
          font-size: 1.8rem;
          font-family: inherit;
          color: inherit;
          border: none;
          background-color: $color-primary-light;
          border-radius: 9px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          &::placeholder {
            color: $text-lightgrey;
          }
        }
        .btn {
          display: inline-block;
          font-size: 2rem;
          font-weight: 600;
          border-radius: 9px;
          border: none;
          cursor: pointer;
          font-family: inherit;
          transition: all 0.3s;
        }
        .btn--form {
          background-color: $form-text;
          color: $color-primary-light;
          align-self: flex-end;
          padding: 1.2rem;
          @media screen and(max-width:992px) {
            margin-top: 1.2rem;
          }
          &:hover {
            background-color: $text-white;
            color: $text-dark;
          }
        }
      }
    }
    .cta-image-box {
      background-image: linear-gradient(
          to right bottom,
          rgba(235, 151, 78, 0.35),
          rgba(230, 125, 34, 0.35)
        ),
        url(../img/eating.jpg);
      background-size: cover;
      background-position: center;
      @media screen and(max-width:768px) {
        display: none;
      }
    }
  }
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba($color: $color-primary-light, $alpha: 0.5);
}
