@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 126, 34, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555555;
}

.pd-96 {
  padding: 9.6rem 0;
}

.container {
  padding: 0 3.2rem;
  max-width: 120rem;
  margin: 0 auto;
}

.btn:link, .btn:visited {
  color: inherit;
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.5s;
}

.btn--ctc:link, .btn--ctc:visited {
  background-color: #e67e22;
  color: #fff;
  margin-right: 1.6rem;
}
.btn--ctc:hover, .btn--ctc:active {
  background-color: #cf711f;
}

.btn--secondary:link, .btn--secondary:visited {
  background-color: #fff;
  color: #555555;
}
.btn--secondary:active, .btn--secondary:hover {
  background: none;
  box-shadow: inset 0 0 0 3px #fff;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.center-text {
  text-align: center !important;
}

strong {
  font-weight: 500;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.footer-link:link, .footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #6f6f6f;
  transition: all 0.3s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.header .logo {
  height: 2.2rem;
}
.header .nav .nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.2rem;
}
.header .nav .nav__list .nav__link:link, .header .nav .nav__list .nav__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
}
.header .nav .nav__list .nav__link:hover, .header .nav .nav__list .nav__link:active {
  color: #cf711f;
}
.header .nav .nav__list .nav__link.nav-cta:link, .header .nav .nav__list .nav__link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
.header .nav .nav__list .nav__link.nav-cta:hover, .header .nav .nav__list .nav__link.nav-cta:active {
  background-color: #cf711f;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.section-hero .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.section-hero .hero .heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}
.section-hero .hero .hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.section-hero .hero .delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}
.section-hero .hero .delivered-meals .delivered-img {
  display: flex;
  align-items: center;
}
.section-hero .hero .delivered-meals .delivered-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}
.section-hero .hero .delivered-meals .delivered-img img:last-child {
  margin-right: 0;
}
.section-hero .hero .delivered-meals .delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.section-hero .hero .delivered-meals .delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
.section-hero .hero .hero-img {
  width: 100%;
}

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.section-featured .featured-heading {
  font-size: 1.4;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}
.section-featured .logos {
  display: flex;
  justify-content: space-evenly;
}
.section-featured .logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  gap: 9.6rem;
}
.section__wrapper .section__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}
.section__wrapper .section__content .content__step-box {
  max-width: 50%;
}
.section__wrapper .section__content .content__step-box .step__number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
.section__wrapper .section__content .content__step-box .step__description {
  font-size: 1.8rem;
  line-height: 1.8;
}
.section__wrapper .section__content .section__image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__wrapper .section__content .section__image::before, .section__wrapper .section__content .section__image::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.section__wrapper .section__content .section__image::before {
  width: 90%;
  padding-bottom: 90%;
  background-color: #fdf2e9;
}
.section__wrapper .section__content .section__image::after {
  width: 70%;
  padding-bottom: 70%;
  background-color: #fae5d3;
}
.section__wrapper .section__content .section__image img {
  width: 50%;
}

.section__content {
  display: flex;
  gap: 6.4rem;
}
.section__content .meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  flex: 1;
  transition: all 0.3s;
}
.section__content .meal:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}
.section__content .meal .meal__img {
  max-width: 100%;
}
.section__content .meal .meal__content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.section__content .meal .meal__content .meal__tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}
.section__content .meal .meal__content .meal__tags .tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.section__content .meal .meal__content .meal__tags .tag--vegetarian {
  background-color: #51cf66;
}
.section__content .meal .meal__content .meal__tags .tag--paleo {
  background-color: #ffd43b;
}
.section__content .meal .meal__content .meal__tags .tag--vegan {
  background-color: #94d82d;
}
.section__content .meal .meal__content .meal__title {
  color: #333;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.section__content .meal .meal__content .meal__features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section__content .meal .meal__content .meal__features .meal__attr {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.section__content .meal .meal__content .meal__features .meal__attr .meal__icon {
  font-size: 2.4rem;
  color: #e67e22;
}
.section__content .diet__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.section__content .diet__list .list__item {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.8rem;
}
.section__content .diet__list .list__item .list__icon {
  color: #e67e22;
  font-size: 3rem;
}

.all-recipes {
  text-align: center;
  margin-top: 4.8rem;
  font-size: 1.8rem;
}
.all-recipes .link:link, .all-recipes .link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid currentColor;
  transition: all 0.2s;
}
.all-recipes .link:hover, .all-recipes .link:active {
  border-bottom: 1px solid transparent;
}

.section-testimonials {
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
  background-color: #fdf2e9;
}
.section-testimonials .testimonials__container {
  padding: 9.6rem;
}
.section-testimonials .testimonials__container .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
}
.section-testimonials .testimonials__container .testimonials .testimonial .testimonial__img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
.section-testimonials .testimonials__container .testimonials .testimonial .testimonial__text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.section-testimonials .testimonials__container .testimonials .testimonial .testimonial__name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.section-testimonials .gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.section-testimonials .gallery .gallery__item {
  overflow: hidden;
}
.section-testimonials .gallery .gallery__item img {
  display: block;
  width: 100%;
  transition: all 0.3s;
}
.section-testimonials .gallery .gallery__item img:hover {
  transform: scale(1.1);
}

.pricing__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 6.4rem;
       column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 4.8rem;
}
.pricing__container .pricing-plan {
  border-radius: 11px;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__container .pricing-plan .pricing__header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing__container .pricing-plan .pricing__header .plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}
.pricing__container .pricing-plan .pricing__header .plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}
.pricing__container .pricing-plan .pricing__header .plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.pricing__container .pricing-plan .pricing__header .plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.pricing__container .pricing-plan .pricing__features {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.pricing__container .pricing-plan .pricing__features .list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}
.pricing__container .pricing-plan .pricing__features .list-item .list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.pricing__container .pricing-plan .btn {
  align-self: flex-end;
  margin-top: 4.8rem;
}
.pricing__container .pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.pricing__container .pricing-plan--complete {
  background-color: #fdf2e9;
  position: relative;
  padding: 4.8rem;
  overflow: hidden;
}
.pricing__container .pricing-plan--complete::after {
  content: "best value";
  position: absolute;
  top: 6%;
  right: -18%;
  text-transform: uppercase;
  font-size: 1.6rem;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  color: #333;
  font-weight: 600;
  transform: rotate(45deg);
}

.plan__details {
  text-align: center;
  font-size: 1.6rem;
  color: #6f6f6f;
  margin-bottom: 9.6rem;
}

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 6.4rem;
       column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.features .feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  background-color: #fdf2e9;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  border-radius: 50%;
}
.features .feature__title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.features .feature__text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.section-cta {
  padding: 4.8rem 0 12.8rem;
}
.section-cta .cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #e67e22, #cf711f);
  overflow: hidden;
}
.section-cta .cta .cta-textbox {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}
.section-cta .cta .cta-textbox h2 {
  color: inherit;
  margin-bottom: 3.2rem;
}
.section-cta .cta .cta-textbox .cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.section-cta .cta .cta-textbox .cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 3.2rem;
       column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.section-cta .cta .cta-textbox .cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.section-cta .cta .cta-textbox .cta-form input,
.section-cta .cta .cta-textbox .cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.section-cta .cta .cta-textbox .cta-form input::-moz-placeholder, .section-cta .cta .cta-textbox .cta-form select::-moz-placeholder {
  color: #6f6f6f;
}
.section-cta .cta .cta-textbox .cta-form input:-ms-input-placeholder, .section-cta .cta .cta-textbox .cta-form select:-ms-input-placeholder {
  color: #6f6f6f;
}
.section-cta .cta .cta-textbox .cta-form input::placeholder,
.section-cta .cta .cta-textbox .cta-form select::placeholder {
  color: #6f6f6f;
}
.section-cta .cta .cta-textbox .cta-form .btn {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}
.section-cta .cta .cta-textbox .cta-form .btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: flex-end;
  padding: 1.2rem;
}
.section-cta .cta .cta-textbox .cta-form .btn--form:hover {
  background-color: #fff;
  color: #333;
}
.section-cta .cta .cta-image-box {
  background-image: linear-gradient(to right bottom, rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)), url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #ddd;
}
.footer .container {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
  -moz-column-gap: 6.4rem;
       column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.footer .container .logo-col {
  display: flex;
  flex-direction: column;
}
.footer .container .logo-col .footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.footer .container .logo-col .footer-logo .logo {
  height: 2.2rem;
}
.footer .container .logo-col .social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  align-items: flex-start;
}
.footer .container .logo-col .social-links .footer-link {
  text-decoration: none;
  font-size: 2.4rem;
  color: #6f6f6f;
  transition: all 0.3s;
}
.footer .container .logo-col .copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #6f6f6f;
  margin-top: auto;
}
.footer .container .contact {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
.footer .container .contact .address {
  margin-bottom: 2.4rem;
}
.footer .container .footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}/*# sourceMappingURL=style.css.map */